# CLEANING

## List out relevant columns for our analysis
   - Group columns into different categories.
   - Extract relevant cols from each group. 

## Which cols have more than 50% data missing. 
  - Drop them if not that relevant. 
  - Replace null values with reasonable defaults. 

## Do a value_counts() on various columns. 
  - Check if some values need to be converted to equivalent values


##  Check if any values columns have non-numeric values ... change them to numeric. 

## Check for outliers in all numeric cols. 
- Remove rows with outliers.

# METHOD


Identify the missing data and use appropriate method to deal with it. (Remove columns/or replace it with an appropriate value)

Hint: Note that in EDA, since it is not necessary to replace the missing value, but if you have to replace the missing value, what should be the approach. Clearly mention the approach.

Identify if there are outliers in the dataset. Also, mention why do you think it is an outlier. Again, remember that for this exercise, it is not necessary to remove any data points.

Identify if there is data imbalance in the data. Find the ratio of data imbalance.

Hint: How will you analyse the data in case of data imbalance? You can plot more than one type of plot to analyse the different aspects due to data imbalance. For example, you can choose your own scale for the graphs, i.e. one can plot in terms of percentage or absolute value. Do this analysis for the ‘Target variable’ in the dataset ( clients with payment difficulties and all other cases). Use a mix of univariate and bivariate analysis etc.

-------------



Hint: Since there are a lot of columns, you can run your analysis in loops for the appropriate columns and find the insights.

Explain the results of univariate, segmented univariate, bivariate analysis, etc. in business terms.



Find the top 10 correlation for the Client with payment difficulties and all other cases (Target variable). Note that you have to find the top correlation by segmenting the data frame w.r.t to the target variable and then find the top correlation for each of the segmented data and find if any insight is there.  Say, there are 5+1(target) variables in a dataset: Var1, Var2, Var3, Var4, Var5, Target. And if you have to find top 3 correlation, it can be: Var1 & Var2, Var2 & Var3, Var1 & Var3. Target variable will not feature in this correlation as it is a categorical variable and not a continuous variable which is increasing or decreasing.  

Include visualisations and summarise the most important results in the presentation. You are free to choose the graphs which explain the numerical/categorical variables. Insights should explain why the variable is important for differentiating the clients with payment difficulties with all other cases.

------
Target = 0 (no default) / 1 (default)
ad --> ad_NoDef / ad_Def
ad_NoDef ... v1, v2 ... v10  which pairs are most correlated with each other. 
  - v1 & v2:  0.78
  - v1 & v3:  0.45
  - .... 
------

# Essential Imports & Configurations

In [1]:
import numpy as np
import pandas as pd  
# import seaborn as sns
# from matplotlib import pyplot as plt

In [2]:
import warnings
warnings.filterwarnings('ignore')

# Don't want pandas to truncate the output of all our 122 cols. 
pd.set_option('display.max_rows', 999)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

In [3]:
import EDALIB as eda

# Reload any changed imports. 
%reload_ext autoreload
%autoreload 2

# eda.__dir__()

# Read Application CSV

In [9]:
ad = pd.read_csv('application_data.csv')
ad.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.022,0.0198,0.0,0.0,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.00,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.079,0.0554,0.0,0.0,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
ad.TARGET.value_counts()

0    282686
1     24825
Name: TARGET, dtype: int64

In [8]:
pa = pd.read_csv('previous_application.csv')
pa.head()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,Y,1,0.0,0.182832,0.867336,XAP,Approved,-73,Cash through the bank,XAP,NaN,Repeater,Mobile,POS,XNA,Country-wide,35,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,Y,1,NaN,NaN,NaN,XNA,Approved,-164,XNA,XAP,Unaccompanied,Repeater,XNA,Cash,x-sell,Contact center,-1,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,Y,1,NaN,NaN,NaN,XNA,Approved,-301,Cash through the bank,XAP,"Spouse, partner",Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,Y,1,NaN,NaN,NaN,XNA,Approved,-512,Cash through the bank,XAP,NaN,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,Y,1,NaN,NaN,NaN,Repairs,Refused,-781,Cash through the bank,HC,NaN,Repeater,XNA,Cash,walk-in,Credit and cash offices,-1,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
pa.NAME_CONTRACT_STATUS.value_counts()

Approved        1036781
Canceled         316319
Refused          290678
Unused offer      26436
Name: NAME_CONTRACT_STATUS, dtype: int64

In [5]:
df.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

In [6]:
LoanApplColumns = ['SK_ID_CURR', 'NAME_CONTRACT_TYPE',  'AMT_CREDIT', 'AMT_ANNUITY', 
'AMT_GOODS_PRICE', 'DAYS_REGISTRATION', 'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 
'FLAG_CONT_MOBILE', 'FLAG_PHONE',  'FLAG_EMAIL', 'WEEKDAY_APPR_PROCESS_START', 
'HOUR_APPR_PROCESS_START', 'REG_REGION_NOT_LIVE_REGION',  'REG_REGION_NOT_WORK_REGION', 
'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY',  'REG_CITY_NOT_WORK_CITY', 
'LIVE_CITY_NOT_WORK_CITY', 'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 
'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8',
'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 
'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18', 
'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21']

In [7]:
PersonalDetailsColumns = ['CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 
'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'NAME_TYPE_SUITE', 
'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 
'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_ID_PUBLISH',
 'OWN_CAR_AGE', 'OCCUPATION_TYPE', 'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY',
'ORGANIZATION_TYPE']

In [8]:
CreditCheckColumns = ['OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE', 
'DEF_60_CNT_SOCIAL_CIRCLE', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 
'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT', 
'AMT_REQ_CREDIT_BUREAU_YEAR', 'EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']

In [9]:
RealtyDetailColumns = ['APARTMENTS_AVG', 'BASEMENTAREA_AVG',
 'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'ELEVATORS_AVG', 'ENTRANCES_AVG', 
'FLOORSMAX_AVG', 'FLOORSMIN_AVG', 'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG',
 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG', 'APARTMENTS_MODE', 'BASEMENTAREA_MODE', 
'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE',
 'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 
'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI', 
'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI', 
'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI',
 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI', 
'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'TOTALAREA_MODE', 'WALLSMATERIAL_MODE', 
'EMERGENCYSTATE_MODE']

# CLEANING

In [10]:
eda.IdentifyNulls(df)

                             Name   Nulls  Percentage
76                COMMONAREA_MEDI  214865   69.872297
48                 COMMONAREA_AVG  214865   69.872297
62                COMMONAREA_MODE  214865   69.872297
70       NONLIVINGAPARTMENTS_MODE  213514   69.432963
56        NONLIVINGAPARTMENTS_AVG  213514   69.432963
84       NONLIVINGAPARTMENTS_MEDI  213514   69.432963
86             FONDKAPREMONT_MODE  210295   68.386172
68          LIVINGAPARTMENTS_MODE  210199   68.354953
54           LIVINGAPARTMENTS_AVG  210199   68.354953
82          LIVINGAPARTMENTS_MEDI  210199   68.354953
52                  FLOORSMIN_AVG  208642   67.848630
66                 FLOORSMIN_MODE  208642   67.848630
80                 FLOORSMIN_MEDI  208642   67.848630
75               YEARS_BUILD_MEDI  204488   66.497784
61               YEARS_BUILD_MODE  204488   66.497784
47                YEARS_BUILD_AVG  204488   66.497784
21                    OWN_CAR_AGE  202929   65.990810
81                  LANDAREA_MEDI  182590   59.376738
67                  LANDAREA_MODE  182590   59.376738
53                   LANDAREA_AVG  182590   59.376738
73              BASEMENTAREA_MEDI  179943   58.515956
45               BASEMENTAREA_AVG  179943   58.515956
59              BASEMENTAREA_MODE  179943   58.515956
41                   EXT_SOURCE_1  173378   56.381073
71             NONLIVINGAREA_MODE  169682   55.179164
57              NONLIVINGAREA_AVG  169682   55.179164
85             NONLIVINGAREA_MEDI  169682   55.179164
77                 ELEVATORS_MEDI  163891   53.295980
49                  ELEVATORS_AVG  163891   53.295980
63                 ELEVATORS_MODE  163891   53.295980
89             WALLSMATERIAL_MODE  156341   50.840783
72                APARTMENTS_MEDI  156061   50.749729
44                 APARTMENTS_AVG  156061   50.749729
58                APARTMENTS_MODE  156061   50.749729
78                 ENTRANCES_MEDI  154828   50.348768
50                  ENTRANCES_AVG  154828   50.348768
64                 ENTRANCES_MODE  154828   50.348768
55                 LIVINGAREA_AVG  154350   50.193326
69                LIVINGAREA_MODE  154350   50.193326
83                LIVINGAREA_MEDI  154350   50.193326
87                 HOUSETYPE_MODE  154297   50.176091
65                 FLOORSMAX_MODE  153020   49.760822
79                 FLOORSMAX_MEDI  153020   49.760822
51                  FLOORSMAX_AVG  153020   49.760822
60   YEARS_BEGINEXPLUATATION_MODE  150007   48.781019
74   YEARS_BEGINEXPLUATATION_MEDI  150007   48.781019
46    YEARS_BEGINEXPLUATATION_AVG  150007   48.781019
88                 TOTALAREA_MODE  148431   48.268517
90            EMERGENCYSTATE_MODE  145755   47.398304
28                OCCUPATION_TYPE   96391   31.345545
43                   EXT_SOURCE_3   60965   19.825307
116    AMT_REQ_CREDIT_BUREAU_HOUR   41519   13.501631
117     AMT_REQ_CREDIT_BUREAU_DAY   41519   13.501631
118    AMT_REQ_CREDIT_BUREAU_WEEK   41519   13.501631
119     AMT_REQ_CREDIT_BUREAU_MON   41519   13.501631
120     AMT_REQ_CREDIT_BUREAU_QRT   41519   13.501631
121    AMT_REQ_CREDIT_BUREAU_YEAR   41519   13.501631
11                NAME_TYPE_SUITE    1292    0.420148
91       OBS_30_CNT_SOCIAL_CIRCLE    1021    0.332021
92       DEF_30_CNT_SOCIAL_CIRCLE    1021    0.332021
93       OBS_60_CNT_SOCIAL_CIRCLE    1021    0.332021
94       DEF_60_CNT_SOCIAL_CIRCLE    1021    0.332021
42                   EXT_SOURCE_2     660    0.214626
10                AMT_GOODS_PRICE     278    0.090403
9                     AMT_ANNUITY      12    0.003902
29                CNT_FAM_MEMBERS       2    0.000650
95         DAYS_LAST_PHONE_CHANGE       1    0.000325
6                    CNT_CHILDREN       0    0.000000
102               FLAG_DOCUMENT_8       0    0.000000
2              NAME_CONTRACT_TYPE       0    0.000000
3                     CODE_GENDER       0    0.000000
4                    FLAG_OWN_CAR       0    0.000000
96                FLAG_DOCUMENT_2       0    0.000000
97                FLAG_DOCUMENT_3       0    0.000000
98                FLAG_DOCUMENT_4       0    0.000000
99                FLAG_DOCUMENT_5       0    0.000000
100               FLAG_DOCUMENT_6       0    0.000000
101               FLAG_DOCUMENT_7       0    0.000000
103               FLAG_DOCUMENT_9       0    0.000000
115              FLAG_DOCUMENT_21       0    0.000000
104              FLAG_DOCUMENT_10       0    0.000000
105              FLAG_DOCUMENT_11       0    0.000000
5                 FLAG_OWN_REALTY       0    0.000000
107              FLAG_DOCUMENT_13       0    0.000000
108              FLAG_DOCUMENT_14       0    0.000000
109              FLAG_DOCUMENT_15       0    0.000000
110              FLAG_DOCUMENT_16       0    0.000000
111              FLAG_DOCUMENT_17       0    0.000000
112              FLAG_DOCUMENT_18       0    0.000000
113              FLAG_DOCUMENT_19       0    0.000000
114              FLAG_DOCUMENT_20       0    0.000000
106              FLAG_DOCUMENT_12       0    0.000000
8                      AMT_CREDIT       0    0.000000
7                AMT_INCOME_TOTAL       0    0.000000
26                     FLAG_PHONE       0    0.000000
39        LIVE_CITY_NOT_WORK_CITY       0    0.000000
38         REG_CITY_NOT_WORK_CITY       0    0.000000
1                          TARGET       0    0.000000
37         REG_CITY_NOT_LIVE_CITY       0    0.000000
36    LIVE_REGION_NOT_WORK_REGION       0    0.000000
35     REG_REGION_NOT_WORK_REGION       0    0.000000
34     REG_REGION_NOT_LIVE_REGION       0    0.000000
33        HOUR_APPR_PROCESS_START       0    0.000000
32     WEEKDAY_APPR_PROCESS_START       0    0.000000
31    REGION_RATING_CLIENT_W_CITY       0    0.000000
30           REGION_RATING_CLIENT       0    0.000000
27                     FLAG_EMAIL       0    0.000000
25               FLAG_CONT_MOBILE       0    0.000000
40              ORGANIZATION_TYPE       0    0.000000
24                FLAG_WORK_PHONE       0    0.000000
23                 FLAG_EMP_PHONE       0    0.000000
22                     FLAG_MOBIL       0    0.000000
20                DAYS_ID_PUBLISH       0    0.000000
19              DAYS_REGISTRATION       0    0.000000
18                  DAYS_EMPLOYED       0    0.000000
17                     DAYS_BIRTH       0    0.000000
16     REGION_POPULATION_RELATIVE       0    0.000000
15              NAME_HOUSING_TYPE       0    0.000000
14             NAME_FAMILY_STATUS       0    0.000000
13            NAME_EDUCATION_TYPE       0    0.000000
12               NAME_INCOME_TYPE       0    0.000000
0                      SK_ID_CURR       0    0.000000

Based on above missing values in columns, we see most of the RealtyDetailColumns having almost 50% + data missing.  These columns can be safely deleted in our analysis as they would be useless for prediction.

In [12]:
df = df.drop(columns = RealtyDetailColumns)
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
# Check if all numeric fields actually have numeric values in them.  That is .. data type should not be 'object'
objCols = df.dtypes[df.dtypes == 'object']
objCols

# From the results, we can see that only fields that need to be "Object" type are indeed object type.

NAME_CONTRACT_TYPE            object
CODE_GENDER                   object
FLAG_OWN_CAR                  object
FLAG_OWN_REALTY               object
NAME_TYPE_SUITE               object
NAME_INCOME_TYPE              object
NAME_EDUCATION_TYPE           object
NAME_FAMILY_STATUS            object
NAME_HOUSING_TYPE             object
OCCUPATION_TYPE               object
WEEKDAY_APPR_PROCESS_START    object
ORGANIZATION_TYPE             object
dtype: object

In [14]:
# Now we would like to see if remaining columns that have NULL values can be replaced with reasonable default values. 
eda.IdentifyNulls(df)

                           Name   Nulls  Percentage
21                  OWN_CAR_AGE  202929   65.990810
41                 EXT_SOURCE_1  173378   56.381073
28              OCCUPATION_TYPE   96391   31.345545
43                 EXT_SOURCE_3   60965   19.825307
74   AMT_REQ_CREDIT_BUREAU_YEAR   41519   13.501631
73    AMT_REQ_CREDIT_BUREAU_QRT   41519   13.501631
72    AMT_REQ_CREDIT_BUREAU_MON   41519   13.501631
71   AMT_REQ_CREDIT_BUREAU_WEEK   41519   13.501631
70    AMT_REQ_CREDIT_BUREAU_DAY   41519   13.501631
69   AMT_REQ_CREDIT_BUREAU_HOUR   41519   13.501631
11              NAME_TYPE_SUITE    1292    0.420148
44     OBS_30_CNT_SOCIAL_CIRCLE    1021    0.332021
45     DEF_30_CNT_SOCIAL_CIRCLE    1021    0.332021
46     OBS_60_CNT_SOCIAL_CIRCLE    1021    0.332021
47     DEF_60_CNT_SOCIAL_CIRCLE    1021    0.332021
42                 EXT_SOURCE_2     660    0.214626
10              AMT_GOODS_PRICE     278    0.090403
9                   AMT_ANNUITY      12    0.003902
29              CNT_FAM_MEMBERS       2    0.000650
48       DAYS_LAST_PHONE_CHANGE       1    0.000325
62             FLAG_DOCUMENT_15       0    0.000000
61             FLAG_DOCUMENT_14       0    0.000000
68             FLAG_DOCUMENT_21       0    0.000000
67             FLAG_DOCUMENT_20       0    0.000000
66             FLAG_DOCUMENT_19       0    0.000000
49              FLAG_DOCUMENT_2       0    0.000000
50              FLAG_DOCUMENT_3       0    0.000000
51              FLAG_DOCUMENT_4       0    0.000000
65             FLAG_DOCUMENT_18       0    0.000000
52              FLAG_DOCUMENT_5       0    0.000000
53              FLAG_DOCUMENT_6       0    0.000000
54              FLAG_DOCUMENT_7       0    0.000000
55              FLAG_DOCUMENT_8       0    0.000000
56              FLAG_DOCUMENT_9       0    0.000000
57             FLAG_DOCUMENT_10       0    0.000000
64             FLAG_DOCUMENT_17       0    0.000000
63             FLAG_DOCUMENT_16       0    0.000000
59             FLAG_DOCUMENT_12       0    0.000000
60             FLAG_DOCUMENT_13       0    0.000000
58             FLAG_DOCUMENT_11       0    0.000000
0                    SK_ID_CURR       0    0.000000
40            ORGANIZATION_TYPE       0    0.000000
12             NAME_INCOME_TYPE       0    0.000000
18                DAYS_EMPLOYED       0    0.000000
17                   DAYS_BIRTH       0    0.000000
16   REGION_POPULATION_RELATIVE       0    0.000000
15            NAME_HOUSING_TYPE       0    0.000000
14           NAME_FAMILY_STATUS       0    0.000000
13          NAME_EDUCATION_TYPE       0    0.000000
8                    AMT_CREDIT       0    0.000000
39      LIVE_CITY_NOT_WORK_CITY       0    0.000000
7              AMT_INCOME_TOTAL       0    0.000000
6                  CNT_CHILDREN       0    0.000000
5               FLAG_OWN_REALTY       0    0.000000
4                  FLAG_OWN_CAR       0    0.000000
3                   CODE_GENDER       0    0.000000
2            NAME_CONTRACT_TYPE       0    0.000000
19            DAYS_REGISTRATION       0    0.000000
20              DAYS_ID_PUBLISH       0    0.000000
22                   FLAG_MOBIL       0    0.000000
23               FLAG_EMP_PHONE       0    0.000000
24              FLAG_WORK_PHONE       0    0.000000
25             FLAG_CONT_MOBILE       0    0.000000
26                   FLAG_PHONE       0    0.000000
27                   FLAG_EMAIL       0    0.000000
30         REGION_RATING_CLIENT       0    0.000000
31  REGION_RATING_CLIENT_W_CITY       0    0.000000
32   WEEKDAY_APPR_PROCESS_START       0    0.000000
33      HOUR_APPR_PROCESS_START       0    0.000000
34   REG_REGION_NOT_LIVE_REGION       0    0.000000
35   REG_REGION_NOT_WORK_REGION       0    0.000000
36  LIVE_REGION_NOT_WORK_REGION       0    0.000000
1                        TARGET       0    0.000000
38       REG_CITY_NOT_WORK_CITY       0    0.000000
37       REG_CITY_NOT_LIVE_CITY       0    0.000000

- 21                  OWN_CAR_AGE  202929   65.990810  --> Drop
- 41                 EXT_SOURCE_1  173378   56.381073  --> Drop
- 28              OCCUPATION_TYPE   96391   31.345545  
- 43                 EXT_SOURCE_3   60965   19.825307  
- 74   AMT_REQ_CREDIT_BUREAU_YEAR   41519   13.501631   
- 73    AMT_REQ_CREDIT_BUREAU_QRT   41519   13.501631
- 72    AMT_REQ_CREDIT_BUREAU_MON   41519   13.501631
- 71   AMT_REQ_CREDIT_BUREAU_WEEK   41519   13.501631
- 70    AMT_REQ_CREDIT_BUREAU_DAY   41519   13.501631
- 69   AMT_REQ_CREDIT_BUREAU_HOUR   41519   13.501631
- 11              NAME_TYPE_SUITE    1292    0.420148 
- 44     OBS_30_CNT_SOCIAL_CIRCLE    1021    0.332021
- 45     DEF_30_CNT_SOCIAL_CIRCLE    1021    0.332021
- 46     OBS_60_CNT_SOCIAL_CIRCLE    1021    0.332021
- 47     DEF_60_CNT_SOCIAL_CIRCLE    1021    0.332021
- 42                 EXT_SOURCE_2     660    0.214626
- 10              AMT_GOODS_PRICE     278    0.090403
- 9                   AMT_ANNUITY      12    0.003902 --> Find correlation with Amt credit and extrapolate. 
- 29              CNT_FAM_MEMBERS       2    0.000650 --> Replace with 1
- 48       DAYS_LAST_PHONE_CHANGE       1    0.000325 -->

I. Problem Statement:¶
If the applicant is likely to repay the loan, then not approving the loan results in a loss of business to the company
If the applicant is not likely to repay the loan, i.e. he/she is likely to default, then approving the loan may lead to a financial loss for the company.
The company wants to understand the driving factors (or driver variables) behind the loan default. i.e the variables which are strong in loan default.